---
---
$background-color: #fff;
$background-color-dark: rgba(0, 0, 0, 10%);
$border-color: rgba(0, 0, 0, 5%);
$text-color: #515151;
$monospace-font: "Inconsolata", monospace;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@media (min-width: 48em) {
  html, textarea, input {
    font-size: 12px;
  }

  .sidebar {
    width: 24rem;
  }
}

@media (min-width: 58em) {
  html, textarea, input {
    font-size: 16px;
  }
}

.content, .sidebar {
  font-family: $monospace-font;
  background-color: $background-color;
  color: $text-color;
}

.sidebar {
  background-color: $background-color-dark;
  border-left: 1px solid $border-color;

  hr {
    border: none
  }

  a {
    color: $text-color;
    text-decoration: underline;

    &.active:before {
      content: "→ ";
    }

    &.note {
      margin-left: 1rem;
    }
  }

  .copyright {
    opacity: 33%;
  }
}

.form-container {
  textarea, input {
    font-family: $monospace-font;
    border: 1px solid $border-color;
    background-color: $background-color-dark;
    width: 100%;
    margin: 1.5rem 0;
    padding: 1rem;
    display: block;
  }

  textarea {
    height: 12rem;
  }

  input[type=submit], button {
    font-family: $monospace-font;
    width: auto;

    &:hover {
      cursor: pointer;
    }
  }
}
