@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.debutante .picture-frame {
  margin: 2rem;
  float: right;
  width: 50%;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 50%));
}

.debutante h2 {
  font-size: 3em;
}

.debutante .explainer {
  margin: 3rem;
  padding: 2rem;
  padding-right: 50%;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}
