@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media (min-width: 768px) {
  .debutante .picture-frame {
    float: right;
    width: 50%;
    max-width: 400px;
  }

  .debutante .explainer {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .debutante .picture-frame {
    width: 50%;
    max-width: 600px;
  }

  .debutante .explainer {
    font-size: 1.75rem;
  }
}

.debutante {
  margin-bottom: 2rem;
}

.debutante .picture-frame {
  min-width: 300px;
  padding: 1rem;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 25%));
}

.debutante h2 {
  font-size: 3em;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}

nav {
  background-image: url(/assets/img/navbar-bg.svg);
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 10%));
}

footer {
  background-image: url(/assets/img/footer-bg.svg);
}
